<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Postagem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-button [disabled]="this.images.length >= 6" (click)="getImages()">Galeria</ion-button>
  <ion-button [disabled]="this.images.length >= 6" (click)="openCam()">Camera</ion-button>
 -->

  <ion-grid>
    <ion-row>
      <ion-col (click)="selectPhotoType()" align-self-center size="4">
        <ion-img style="padding-top: 11px; border-radius: 15%;" class="img-format" src="assets/images/uploadphoto.png"> </ion-img>
        <ion-label style="font-size: 12px; padding-left: 17px">
          Máx. 5
        </ion-label>
      </ion-col>
      <ion-col align-self-center size="4" *ngFor="let img of images">
        <ion-icon (click)="removePicture(img)" style="font-size: 22px;padding-left: 58px" color="danger" name="close"></ion-icon>
        <ion-img class="img-format" [src]="img.url"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="postForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
    <!-- <ion-item>
      <ion-chip slot="end">
        <ion-icon name="camera" color="primary"></ion-icon>
        <ion-label>Fotos</ion-label>
      </ion-chip>
    </ion-item> -->

    <ion-item>
      <ion-label position="stacked">Título *</ion-label>
      <ion-input formControlName="titulo" placeholder="Dígite um título"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição *</ion-label>
      <ion-input formControlName="descricao" placeholder="Dígite uma descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Localização *</ion-label>
      <ion-input formControlName="localizacao" placeholder="Dígite a localização"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria *</ion-label>
      <ion-select formControlName="categoria" placeholder="Selecione a categoria">
        <ion-select-option value="Rua">Rua</ion-select-option>
        <ion-select-option value="Interior">Interior</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Cidade *</ion-label>
      <ion-select formControlName="cidade" placeholder="Selecione a categoria">
        <ion-select-option value="Coronel Vivida">Coronel Vivida</ion-select-option>
        <ion-select-option value="Pato Branco">Pato Branco</ion-select-option>
      </ion-select>
    </ion-item>

  </form>

  <!-- <ion-button (click)="uploadFirebase()">Upload</ion-button> -->

  <!--  <ion-progress-bar [value]="uploadProgress"></ion-progress-bar>
  <br> -->
  <ion-button color="tertiary" (click)="onSubmit()" expand="full" [disabled]="postForm.invalid">CRIAR</ion-button>
 
</ion-content>