<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="clickIconHeart()">
        <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ post?.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides scrollbar="false" style="height: 40%;" pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let image of postUrlImages">
      <ion-icon *ngIf="postUrlImages.length > 1" slot="start" name="arrow-back"></ion-icon>
      <img [src]="image.url">
      <ion-icon *ngIf="postUrlImages.length > 1" slot="end" name="arrow-forward"></ion-icon>
    </ion-slide>
  </ion-slides>
  <ion-item style="font-size: 11px;">
      <ion-label>13241 curtidas</ion-label>
      <ion-icon slot="start" name="thumbs-up">13</ion-icon>
      <ion-label>14523 comentários</ion-label>
      <ion-icon slot="end" name="chatboxes">13</ion-icon>
  </ion-item> 
  
  <h3>
    {{ post?.titulo }}
  </h3>
  <div class="label-item-date">
    <div>
      Publicado em: {{post?.publicadoEm | date:'dd/MM/yyyy HH:mm'}}
    </div>
    <div>
      Usuário: {{post?.userName }}
    </div>

  </div>
  <p style="font-size: 15px; font-weight: 600; color:#666">
    Descrição
  </p>

  <p style="font-size: 12px">
    {{ post?.descricao }}
  </p>

</ion-content>