<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="clickIconHeart()">
        <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ post?.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides scrollbar="false" style="height: 60%;" pager="false" [options]="slideOpts">
    <ion-slide *ngFor="let image of postUrlImages">
      <ion-icon *ngIf="postUrlImages.length > 1" slot="start" name="arrow-back"></ion-icon>
      <img style="max-width: 88%" [src]="image.url">
      <ion-icon *ngIf="postUrlImages.length > 1" slot="end" name="arrow-forward"></ion-icon>
    </ion-slide>
  </ion-slides>

  <ion-item lines="none" style="font-size: 11px;">
    <ion-badge id="notifications-badge-comments">{{ post?.totalComentarios ? post.totalComentarios  : '' }}</ion-badge>
    <ion-badge id="notifications-badge-curtidas">{{ post?.totalCurtidas ? post.totalCurtidas : '' }}</ion-badge>
    <ion-chip style="width: 85px" slot="start" (click)="clickIconHeart()">
      <!-- <div style="padding-left: 47px; font-size: 0.5rem; position: absolute; padding-bottom: 20px; color: #000;font-weight: 600">
        {{ post?.totalCurtidas ? post.totalCurtidas : '' }}
      </div> -->

      <ion-icon name="thumbs-up" [color]="heartColor">

      </ion-icon>
      <ion-label>{{ heartColor != 'dark' ? 'curtiu'   : 'curtir'}}</ion-label>
    </ion-chip>


    <ion-chip style="margin-left: -10px" slot="end" (click)="clickComentarios()">
      <!-- <div style="padding-left: 80px; font-size: 0.5rem; position: absolute; padding-bottom: 20px; color: #000;font-weight: 600">
        {{ post?.totalComentarios ? post.totalComentarios  : '' }}
      </div> -->
      <ion-icon name="chatboxes" color="dark"></ion-icon>
      <ion-label>comentários</ion-label>
    </ion-chip>
  </ion-item>

  <h3>
    {{ post?.titulo }}
  </h3>
  <div class="label-item-date">
    <div>
      Publicado em: {{post?.publicadoEm | date:'dd/MM/yyyy HH:mm'}}
    </div>
    <div>
      Usuário: {{post?.userName }}
    </div>
    <div>
      Local: {{post?.cidade }}, {{post?.localizacao }}
    </div>


  </div>
  <p style="font-size: 15px; font-weight: 600; color:#666">
    Descrição
  </p>

  <p style="font-size: 12px">
    {{ post?.descricao }}
  </p>


</ion-content>