<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
    <ion-item>
      <ion-icon name="person" item-left color="primary"></ion-icon>
      <ion-input padding placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" item-left color="primary"></ion-icon>
      <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
    </ion-item>

    <p (click)="onResetPassword()" style="color:black; text-decoration: underline; padding-left: 3px; padding-top: 5px">
      Esqueci minha senha</p>

    <br>
    <ion-button (click)="onSubmit()" [disabled]="signinForm.invalid" expand="full" color="primary">ACESSAR</ion-button>

    <ion-button style="padding-top: 5px;" (click)="onSignup()" expand="full" color="light">CADASTRE-SE</ion-button>


  </form>


</ion-content>