<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>       
          
    </ion-buttons>
    <ion-buttons slot="end"> 
        <ion-button (click)="clickIconSearchBar()">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button> 
    </ion-buttons>
    
    <ion-searchbar animated *ngIf="showSearchBar" (ionCancel)="cancelSearch($event)" (ionChange)="changeSearch($event)" placeholder="Pesquisar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let post of posts">
          <ion-thumbnail slot="start">
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/civitbr.appspot.com/o/6r2yk3yi6qp?alt=media&token=3bddc570-6730-430f-b217-64e3e4b4145e"></ion-img>
          </ion-thumbnail>
          <ion-label>{{post.titulo}}</ion-label>
        </ion-item>
      </ion-list>

    <ion-card>
        
      </ion-card>
</ion-content>
 